/** Doyouhaobaby.com 
    bbs.56swun.com
	版权所有2009-2010
	小牛哥 QQ:635750556
	635750556@qq.com
*/
* { 
    margin: 0;
	padding: 0;
}
html{ background: #eff3f7; }
body {
    width:960px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font: 13px 微软雅黑,Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
	background: url(images/background.gif) repeat-x;
}

/* 基本样式 */

a { color: #202428; text-decoration: none;}
a:hover { color:#14a5cf;}
a img { border: none;}

p { margin: 0px 0px 20px 0px; line-height: 18px;}

ul { margin: 5px 0px 15px 0px; padding: 0px;}
li { margin-left: 20px; }

label {
    display: block;padding: 2px 0;
 }

.clear { clear:both;}

/* 消息 */
.actived_style {
    width:780px;
	margin:10px;
	padding: 0 10px;
	background: #fffbcc;
	border: 1px solid #e6db55;
	line-height: 25px;
	color: #222;
}

/* 表格 */

table{
    background:#fff;
	border:1px solid #eeeeee;
    border-collapse: collapse;
	width: 100%;
	margin: 0;
	font-size: 1.1em;

}
/*table thead,
table tfoot {
	background:#fff;
	height:30px;
}*/
table th {
	background: #e1eaf2 url('images/table_th_bg.gif');
	color: #000;
	font-weight: bold;
	padding: 2px 11px;
	text-align: left;
	border-right: 1px solid #fff;
	line-height: 26px;
}

table td {
	padding: 3px 11px;
	border-bottom: 1px solid #e2ecf7;
	vertical-align: top;

}
table td .rownum{ color:#03c3fa; }

td*{
	padding: 6px 11px;
}
table  .odd {
	background: #fffdfd; 
}
table  .trover{
    background:#f4fafb;
}
/* form表格设置 */
.tdline .tdtitle {
     width: 23%;
	 word-break: break-all;
	 word-wrap:break-word;
	 color:#000;
}
.tdline .tdcontent {
     width: 77%;
	 word-break: break-all;
	 word-wrap:break-word;
	 line-height:20px;
	 color: #333;
}
.tdline .tdcontent span {
      color: #c2d4df;
}
.formfield {
      color: #333;
	  border:1px solid #bec0c2;
	  padding: 6px;
	  margin:10px auto;
}

/* 网站所有的表单元素 */

/* 提交操作超链接仿表单 */
.buttonsDiv{
    padding:20px;
}
.submit input{
   margin-right:5px;
}
.buttons  {
	padding:1px 2px;
	border:1px solid #dbe6f1;
	background:#fafafa;
	margin:3px;
	font:bold 0.95em '微软雅黑',arial, sans-serif;
}
.buttonsDiv select{
   margin-right:5px;
}
.buttonsDiv a{
    padding:2px 5px;
	color:#000;
	margin-right:5px;
}
.buttonsDiv a:hover{
    border-color:#2175b6;
	background:#d4f3f4;
	color:#03c3fa;
	text-decoration:none;
}

/*select */
select{
   padding:4px 7px;
   margin:10px auto;
   border:1px solid #dbe6f1;
}

/* input */
input.shortinput {width:30%;}
input.mediuminput {width:40%;}
input.longinput {width:85%;}
input.maxinput {width:100%;}

input[type=text],textarea,input[type=file],input[type=password]{
	padding:0.2em;
	border:1px solid #dbe6f1;
	background:#fff;
	font: 13px "微软雅黑", sans-serif;
    color:#2d3333;
}
input[type=text]:hover,textarea:hover,input[type=file]:hover{
	border-color:#bfe3ed;
	background:#eaf2f9;
} 
input[type=password]:hover{
    border-color:red;
	background:#eaf2f9;
}

input[type=submit],input[type=button],input[type=reset] { 
  padding:2px 3px;
  width:70px;
  border:1px solid #deedfd;
  background:#b9dff0;
  color:#323c47;
}

input[type=submit]:hover,
[type=button]:hover,
input[type=reset]:hover{
    border-color:#cfe0f3;
	background:#a8d3e7;
	color:#03c3fa;
}

/* 撰写日志 */
.addloginput input,.addloginput input:hover{ 
    padding:2px 0px;
	color:#03c3fa;
	font-size:16px;
	border:2px solid #ddf0fa;
	background:#fff url('images/addloginput.jpg') repeat-x center;
}

.wait_time{ 
    border:3px solid #fff;
    padding:10px 10px 15px;
	margin-bottom:15px;
	color:#000;
	font-weight:bold;
	font-size:12px;
	background:#fff url('images/wait_time.png') no-repeat left top;
}

.wait_time textarea{ 
    width:50%;
	height:50px;
	padding:4px 5px;
	font-size:15px;
	color:#03c3fa;
	border:1px solid #ddf0fa;
}

/*textarea*/
.formarea{ 
   width:80%; 
   height:80px; 
   margin:10px auto;
}

/* 编辑器文本域 */
.content-text{
   width:100%;
   height:400px;
}

/* fieldset设置 */
fieldset { 
   padding:15px;  
   border:1px solid #e4eaf0; 
   margin-bottom:5px;
   margin:10px auto;
} 

fieldset legend { 
   color:#03c3fa; 
   font-weight:bold; 
   padding:5px 20px; 
   border-top:1px solid #d5e2ed;
   border-right:3px solid #d5e2ed; 
   border-bottom:1px solid #d5e2ed; 
   border-left:1px solid #d5e2ed; 
   background:#fff;
   margin-bottom:5px;
} 


/*日志列表标签 其它数据列表操作条修饰 gravatar头像*/
.row-actions a,.row-actions  span{
    color:#f5fafe;
	padding:0px;
}

.display .row-actions .edit a{
    color:#aedbfb; 
	font-size:11px;
}
.display .row-actions .delete a{
    color:#fb98af; 
	font-size:11px;
}
.display .row-actions .view a{
    color:#a9e2f7;
	font-size:11px;
}
.display .row-actions .hide a{
    color:#c9c9f0;
	font-size:11px;
}
.display .row-actions span{
    color:#e2e2ff; 
}
.display .row-actions a:hover{
    text-decoration:none;
}
.taglist{
   background:#fff;
   border:1px solid #f5fbf7;
}
.comment_gravatar{ 
   float:left
}

img .gravatar{ float:left; }

/* 模板块元素 */
.dashboard-element {
	margin: 0 0 10px;
	padding: 1px;
	border: 1px solid #bbdde5;
	background: #fff;
	position: relative;
}
.dashboard-element h3{ 
    background:#eef3f7 url('images/header_bgs.gif') repeat-x;
	line-height:25px;
	font-size:12px;
	color:#192e32;
	padding:0 20px;
}
.dashboard-element h3 a{ 
    margin-left:15px; 
}
.dashboard-element h3 a:link,
.dashboard-element h3 a:visited{ 
    color:#000; 
}
.dashboard-element h3 a:hover{ 
    color:#03c3fa; 
}

.dashboard-element p span{
    color:#c2d4df;
}

.dashboard-element li{ 
    list-style: none;
    display: block; 
    line-height: 25px;
    text-indent: 25px;
    background: url('../../../../images/other/arrow.gif') left center no-repeat;
 }
.dashboard-element .element-info{ 
     padding:10px;
}
.dashboard-element .element-info a:link,.dashboard-element .element-info a:visited{ 
	 padding:1px;
	 color:#5a5a8f;
}

.dashboard-element .element-info a:hover{
     color:#000;
}

/* 头部 */

#header {
	height: 40px;
	margin: 0 auto;
	padding: 0 20px;
	color:#03c3fa;
}
#header h1 {
    margin-top:10px;
	float: left;
	font: bold 30px "微软雅黑", Arial, sans-serif;
	line-height: 45px;
}
#header h1 a {
	color: #ddf0fa;
	text-decoration: none;
}
#header h1 a:hover{
    color:#000;
}
#header h1 .version{
    font-size:10px;
}
#header .menu {
	float: right;
	margin-top:10px;
}

#header .menu a {
	color: #ffffff;
	padding:10px;
	font-size:12px;
}
#header .menu a:hover {
	color: #cccccc;
}

#menu-div {
    height:32px;
	font-weight: bold;
	line-height:32px;
	position:relative;
	margin-top:0;
}
#menu-div li {
    float:left;
	margin-left:10px;
	list-style:none;
}
#menu-div a{
    color:#fff;
	display:block;
	height:32px;
	float:left;
	background:url(images/nav-bg.png) right -32px no-repeat;
	padding-right:10px;
}
#menu-div a span{
    display:block;
	float:left;
	margin-right:7px;
	width:3px;
	height:32px;
	background:url(images/nav-bg.png) left 0 no-repeat;
}
#menu-div a:hover{
    color: #367ABB; 
	background-position:right -96px; 
	text-decoration:none;
}
#menu-div a:hover span{
    background-position:left -64px;
}

/* 主体 */

#wrapper {
    width:100%;
	margin: 30px auto 5px auto;
	padding:5px 0px;
}

#wrapper h2 {
	margin: 0 0 10px;
	font: bold 16px "微软雅黑", Arial, sans-serif;
	color: #333;
}

.icon32 {
    float: left;height: 20px;width: 20px;
}

#icon-index {
    background: transparent url(images/icons32.png) no-repeat -60px 2px;
}

#icon-log ,#icon-sort{
    background: transparent url(images/icons32.png) no-repeat -260px 2px;
}

#icon-comment{
    background: transparent url(images/icons32.png) no-repeat -30px 2px;
}

#icon-file{
    background: transparent url(images/icons32.png) no-repeat -115px 2px;
}

#icon-user{
    background: transparent url(images/icons32.png) no-repeat -283px 2px;
}

#icon-link{
    background: transparent url(images/icons32.png) no-repeat -84px 2px;
}

#icon-template{
    background: transparent url(images/icons32.png) no-repeat 0px 2px;
}

#icon-backup{
    background: transparent url(images/icons32.png) no-repeat -203px 2px;
}

#icon-option{
    background: transparent url(images/icons32.png) no-repeat 0px 2px;
}

/* 侧边栏 */

#sidebar {
	float: left;
	width: 120px;
	position: relative;
}
/* 侧边栏导航条 */
.navigation {
	margin: 0 0 0px;

}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navigation ul li .dyhb_menu_bar{
    overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
}
.navigation ul li {
	margin: 0 0 1px 0;
	padding: 0px 2px;
	border-top: 1px solid #e8e8e8;
	border-left: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background:#fff url('images/navigation-off.gif') repeat-x;
	line-height: 30px;
	height: 100%;
	display: block;
	font-size: 13px;
}

.navigation ul li a {
	height: 100%;
	width:75px;
	display: block;
	padding-left:20px;
	color:#000;
}

.navigation ul li a:hover {
	color:#18a4cb;
}

.navigation ul li.active {
	background:#444444 url('images/navigation-on.gif') repeat-x;
}

.navigation ul li ul {
	margin-bottom:1px;
	/*padding-bottom:5px;*/
	background:#fff;
}
.navigation ul li ul li {
	margin-bottom: 2px;
	padding: 0;
	font-size: 12px;
	border: none;
	background: #ebf3f9;
}

.navigation ul li ul li a {
	color: #000000;
	width:93px;
	background:#ebf3f9;
}
.navigation ul li ul li a:hover,.navigation ul li ul li .pavigation-select-active {
	background:#d5ebf7;
	color:#000;
	text-decoration:none;
}


/* 主体内容 */

#dyhb-content {
    width:829px;
	padding-left:130px;
}

#dyhb-content .box-left{
   float:left;
   width:550px;
}

#dyhb-content .box-right{
    float:right;
	width:270px;
}


/* 底部 */
#footer {
    margin-left:auto;
	margin-right:auto;
    width:auto;
	background: #fff;
	color:#ccc;
	border-top: 2px solid #3971af;
	padding: 15px;
	margin-bottom:0px;
	margin-top:5px;
	height: 25px;
	clear: both;
	text-align:center;
}
#footer a{
    color:#717478;
}
#footer a:hover{
    color:#000;
}

/**　导航条,全站公用 */
.multipage {
     clear:both;
     padding: 3px;
	 margin: 20px;
	 text-align: center
}
.multipage a {
    border-right: #e5edf2 1px solid; 
	padding-right: 5px; 
	border-top: #e5edf2 1px solid; 
	padding-left: 5px; 
	padding-bottom: 2px; 
	margin: 2px; 
	border-left: #e5edf2 1px solid; 
	color: #036cb4; 
	padding-top: 2px; 
	border-bottom: #e5edf2 1px solid; 
	text-decoration: none
}
.multipage a:hover { 
    border-right: #336699 1px solid;
	border-top: #336699 1px solid; 
	border-left: #336699 1px solid; 
	color: #000; 
	border-bottom: #336699 1px solid
}
.multipage span.current {
    border-right: #e5edf2 1px solid; 
	padding-right: 5px; 
	border-top: #e5edf2 1px solid; 
	padding-left: 5px; 
	font-weight: bold; 
	padding-bottom: 2px; 
	margin: 2px; 
	border-left: #e5edf2 1px solid; 
	color: #333333; 
	padding-top: 2px; 
	border-bottom: #e5edf2 1px solid; 
	background-color: #e5edf2
}
.multipage span.infor{
    border-right: #e5edf2 1px solid; 
	padding-right: 5px; 
	border-top: #e5edf2 1px solid; 
	padding-left: 5px; 
	padding-bottom: 2px; 
	margin: 2px; 
	border-left: #e5edf2 1px solid; 
	color: #ddd; 
	padding-top: 2px; 
	border-bottom: #e5edf2 1px solid
}


/* 模板 */
.pic {
     padding:5px;width:300px;
	 border:1px solid #CCC;
	 background:#eee;
	 overflow: hidden;
	 float:left;
}
.template_now .info {
     padding:5px;
	 float:left;
}
.template_now .info ul li {
     list-style-type: none;
	 padding-bottom: 8px;
	 margin-left: 10px;
}
.tpl {
      width:900px;
}
.tpl ul {
      float: left;
	  list-style: none;
	  margin:15px 5px;
	  padding:5px;
}
.tpl ul li {
      float: left;
	  display: inline;
	  margin:5px; 
	  padding:10px;
}
.tpl ul li a {
      float: left;
	  display: block;
}
.tpl ul li a:hover {
      background:#f40b57;
}
.tpl ul li a img { 
      float:left;
	  width:300px;
	  height:200px;
	  border:2px solid #E2ECF3;
}